h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
.customNav {
  position: flex;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: black !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img{
  padding-right: 15px;
  width: 65px;
  
}
.nav-item {
  margin: 0px 15px;
}
.cardContainer {
position: absolute;
bottom: 0;
z-index: 1;
color: white;
}
.card {
  background-color: blue;
  padding: 25px;
}
.sectionHeading {
   text-align: center;  
}
.jumbotron {
    background-image: url(../images/pexels-elvis-vasquez-421654.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: right;
  }
  .content {
    padding: 50px;
  }